// FONTS

$bebas: 'Bebas Neue', cursive;
$open-sans: 'Open Sans', sans-serif;

// FONT-SIZE

$xs-font: 11px;
$sm-font: 13px;
$md-font: 16px;
$lg-font: 18px;
$xl-font: 22px;
$xxl-font: 30px;

// FONT-WEIGHT

$regular: 400;
$semi-bold: 600;
$bold: 700;
$extrabold: 800;

//  COLORS

$general-white: #fff;
$grey-text:  #48555B;
$light-blue: #00A4E5;
$dark-grey: #171819;
$footer-bg: #141A20;
$border-color: #E6E6E6;
